$color-primary: #ff7b00;
$color-secondary: #ffffff;
$color-disabled: rgb(83, 83, 83);
$color-highlight: yellow;
$space-half: 5px;
$space-default: 10px;
$space-double: 20px;
$radius-default: 5px;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,800;1,200&display=swap');